/*------------------------------Header-------------------------------------*/
#container1 {
  width: 60rem;
  position: relative;
  margin: 0 auto;
}

header {
  background: rgb(167, 166, 166);
  padding: 1rem;
}

nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 7rem;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#logo {
  width: 35rem;
}

#logoh {
  width: 60rem;
}

/*------------------------------Main-------------------------------------*/

main {
  width: 60rem;
  margin: 0 auto;
}

form {
  margin: 2.5rem 0;
}

form label,
form legend {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.inputpadrao {
  display: block;
  margin: 0 0 1.5rem;
  padding: 0.625rem 1.56rem;
  width: 50%;
}

#checkbox {
  margin: 1.5rem 0;
}

#comen {
  margin-bottom: 2rem;
}

select {
  width: 8rem;
  height: 1.5rem;
}

#enviar {
  width: 40%;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background: rgb(186, 186, 186);
  transition: 1s background;
  cursor: pointer;
}

#enviar:hover {
  background: rgb(170, 170, 170);
  transform: scale(1.2);
}

table {
  margin-bottom: 3rem;
  text-align: center;
}

thead {
  background: rgb(95, 93, 93);
  font-weight: bold;
  color: white;
}

td,
th {
  border: 0.1rem solid black;
  padding: 0.5rem 1rem;
}

/*------------------------------Footer-------------------------------------*/

footer {
  text-align: center;
  background: rgb(167, 166, 166);
  padding: 1rem;
  font-size: 1rem;
}

footer img {
  width: 15rem;
  margin-bottom: 1rem;
}
