/*------------------------------Header-------------------------------------*/
#container1 {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

header {
  background: rgb(167, 166, 166);
  padding: 1rem;
}

nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 7rem;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#logo {
  width: 35rem;
}

#logoh {
  width: 60rem;
}

/*------------------------------Main---------------------------------------*/
#banner {
  width: 100%;
}

main {
  width: 80%;
  margin: 0 auto;
}

#principal {
  padding: 1rem;
}

#utensilios {
  width: 10rem;
  height: 10rem;
  float: left;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

#principal p {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.titulosec {
  text-align: center;
  margin: 0 0 1rem;
  font-weight: bold;
  font-size: 3rem;
  clear: left;
}

#beneficios {
  margin-top: 3rem;
}

ul {
  display: inline-block;
  vertical-align: top;
}

#img2 {
  position: relative;
  display: inline-block;
  width: 60%;
}

/*------------------------------Footer-------------------------------------*/

footer {
  text-align: center;
  background: rgb(167, 166, 166);
  padding: 1rem;
  font-size: 1rem;
}

footer img {
  width: 15rem;
  margin-bottom: 1rem;
}
