body {
  font-family: 'Montserrat', sans-serif;
}

/*------------------------------Header-------------------------------------*/

#container1 {
  width: 90%;
  position: relative;
  margin: 0 auto;
}

header {
  background: rgb(167, 166, 166);
  padding: 1rem;
}

nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 7rem;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

#logo {
  width: 58%;
}

#logoh {
  width: 60rem;
}

/*------------------------------Main---------------------------------------*/

/*------Home--------*/
#banner {
  width: 100%;
}

#principal {
  padding: 1rem;
}

#utensilios {
  width: 10rem;
  height: 10rem;
  float: left;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

#principal {
  padding: 3rem 0;
  background: #fefefe;
}

#principal p {
  margin: 0 0 1rem;
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.titulosec {
  text-align: center;
  margin: 0 0 1rem;
  font-weight: bold;
  font-size: 2rem;
  clear: left;
}

#mapa {
  padding: 3rem 0;
  background: linear-gradient(#fefefe, #888888);
}

#mapa p {
  padding: 0 0 2rem;
  text-align: center;
  font-size: 1.5rem;
}

#beneficios {
  background: #888888;
  width: 100%;
}

#beneficios h3 {
  padding: 3rem 0;
}

#divben ul {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-left: 15%;
}

#divben li {
  font-size: 1.5rem;
}

#divben li.itens {
  line-height: 2;
}

#divben li.itens::before {
  content: '★  ';
}

#divben img {
  width: 40%;
}

#video {
  text-align: center;
  width: 70%;
  margin: 2rem auto 0 auto;
}

.marg {
  width: 80%;
  margin: 0 auto;
}

/*----------Produtos----------------*/
#Main_Produtos {
  width: 100%;
  text-align: center;
}

#Produtos {
  width: 66rem;
  margin: 0 auto;
  padding: 3.12rem 0;
}

#Produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 28rem;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 1.87rem 1.25rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
}

#Produtos li:hover {
  border-color: #c78c19;
}

#Produtos li:active {
  border-color: #0cc725;
}

#Produtos li:hover h2 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.87rem;
  font-weight: bold;
}

.Descrição {
  font-size: 1.12rem;
}

.Preço {
  margin-top: 0.62rem;
  font-weight: bold;
  font-size: 1.37rem;
}

/*------Formulario---------*/

.main_form {
  margin-left: 3rem;
}

form {
  margin: 2.5rem 0;
}

form label,
form legend {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

.inputpadrao {
  display: block;
  margin: 0 0 1.5rem;
  padding: 0.625rem 1.56rem;
  width: 50%;
}

#checkbox {
  margin: 1.5rem 0;
}

#comen {
  margin-bottom: 2rem;
}

select {
  width: 8rem;
  height: 1.5rem;
}

#enviar {
  width: 40%;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  background: rgb(186, 186, 186);
  transition: 1s background;
  cursor: pointer;
}

#enviar:hover {
  background: rgb(170, 170, 170);
  transform: scale(1.1);
}

table {
  margin-bottom: 3rem;
  text-align: center;
}

thead {
  background: rgb(95, 93, 93);
  font-weight: bold;
  color: white;
}

td,
th {
  border: 0.1rem solid black;
  padding: 0.5rem 1rem;
}

/*------------------------------Footer-------------------------------------*/

footer {
  text-align: center;
  background: rgb(167, 166, 166);
  padding: 1rem;
  font-size: 1rem;
}

footer img {
  width: 15rem;
  margin-bottom: 1rem;
}

/*------------------------------Responsividade Mobile-------------------------------------*/
/*------------------------------Header--------------------*/

@media screen and (max-width: 480px) {
  #logoh,
  #logo,
  #container1 {
    width: 100%;
  }

  #container1 nav {
    margin: 1rem auto;
    display: inline-block;
    position: absolute;
    right: 11%;
  }

  #container1 nav ul li a {
    font-size: 1rem;
  }

  #container1 nav ul li {
    margin: 0;
  }

  #container1 .margin_right_nav {
    margin-right: 1rem;
  }

  /*------------------------------Main--------------------*/
  /*------------------------------Home--------------------*/
  #beneficios h3 {
    padding: 0;
  }
  #principal,
  #mapa,
  #beneficios {
    padding: 2rem 0;
  }

  #principal,
  #mapa {
    text-align: center;
  }

  #utensilios {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    float: none;
  }

  #divben {
    margin: 0 1rem;
  }

  #divben ul {
    display: inline;
  }

  #divben li {
    font-size: 1rem;
  }

  #divben img {
    width: 90%;
    margin: 1rem 0 0 5%;
  }

  /*------------------------------Produtos--------------------*/
  #Produtos {
    width: 100%;
  }
  #Produtos li {
    width: 80%;
    height: 10%;
    margin: 1rem 0;
  }

  #Produtos li img {
    width: 50%;
  }

  /*------------------------------Contato--------------------*/

  #comen {
    width: 90%;
  }

  /*------------------------------Footer--------------------*/
  footer img {
    width: 40%;
  }
}
