#container1 {
  width: 66rem;
  position: relative;
  margin: 0 auto;
}

header {
  background: rgb(167, 166, 166);
  padding: 1rem;
}

nav {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 7rem;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

#logo {
  width: 35rem;
}

#logoh {
  width: 60rem;
}

#Produtos {
  width: 66rem;
  margin: 0 auto;
  padding: 3.12rem 0;
}

#Produtos li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 1.87rem 1.25rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
}

#Produtos li:hover {
  border-color: #c78c19;
}

#Produtos li:active {
  border-color: #0cc725;
}

#Produtos li:hover h2 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.87rem;
  font-weight: bold;
}

.Descrição {
  font-size: 1.12rem;
}

.Preço {
  margin-top: 0.62rem;
  font-weight: bold;
  font-size: 1.37rem;
}

footer {
  text-align: center;
  background: rgb(167, 166, 166);
  padding: 1rem;
  font-size: 1rem;
}

footer img {
  width: 15rem;
  margin-bottom: 1rem;
}
